@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&family=Inter:wght@400;700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@400;700&family=Lobster&family=Nunito:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Define CSS variables based on the provided color code and planet array */
  --mercury-bg: #def4fc;
  --venus-bg: #f7cc7f;
  --earth-bg: #545bfe;
  --mars-bg: #ff6a45;
  --jupiter-bg: #ecad7a;
  --saturn-bg: #fccb6b;
  --uranus-bg: #65f0d5;
  --neptune-bg: #497efa;
}

html {
  font-size: 61.5%;
}

body {
  background: url("assets/background-stars.svg");
  background-color: #070724;
  color: white;
}

h1 {
  @apply font-antonio text-[2.8rem];
}

.tab-container {
  @apply flex flex-col justify-center items-center px-7 text-center md:text-left mt-[20px];
}

.tab-layout {
  @apply flex flex-col justify-center items-center lg:grid lg:grid-cols-2 lg:w-[80vw] mb-10;
}

.planet-image-container {
  @apply mb-[100px] lg:mx-auto lg:my-auto relative;
}

.planet-image {
  @apply w-[180px] h-[180px] md:w-[200px] md:h-[200px] lg:w-[260px] lg:h-[260px] object-contain;
}

.planet-desc {
  @apply md:flex lg:flex-col md:justify-between md:items-center lg:items-stretch md:w-[80vw] lg:w-[350px] lg:justify-self-end;
}

.surface-image {
  @apply absolute top-56 left-[45px] md:top-[150px] md:left-16 lg:top-[200px] lg:left-20 w-[90px] h-[90px] md:w-[120px] md:h-[120px] lg:w-[160px] lg:h-[160px] object-contain;
}

.active-mob {
  border-bottom: 2px solid #419ebb;
  padding-bottom: 15px;
  color: white;
}

.activeTab-mercury {
  background: var(--mercury-bg);
}

.activeTab-venus {
  background: var(--venus-bg);
}

.activeTab-earth {
  background: var(--earth-bg);
}

.activeTab-mars {
  background: var(--mars-bg);
}

.activeTab-jupiter {
  background: var(--jupiter-bg);
}

.activeTab-saturn {
  background: var(--saturn-bg);
}

.activeTab-uranus {
  background: var(--uranus-bg);
}

.activeTab-neptune {
  background: var(--neptune-bg);
}

.active-mercury {
  @apply border-b-4 border-[var(--mercury-bg)];
}

.active-venus {
  @apply border-b-4 border-[var(--venus-bg)];
}

.active-earth {
  @apply border-b-4 border-[var(--earth-bg)];
}

.active-mars {
  @apply border-b-4 border-[var(--mars-bg)];
}

.active-jupiter {
  @apply border-b-4 border-[var(--jupiter-bg)];
}

.active-saturn {
  @apply border-b-4 border-[var(--saturn-bg)];
}

.active-uranus {
  @apply border-b-4 border-[var(--uranus-bg)];
}

.active-neptune {
  @apply border-b-4 border-[var(--neptune-bg)];
}
