@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&family=Inter:wght@400;700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@400;700&family=Lobster&family=Nunito:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 61.5%;
}

body {
  background: url("assets/background-stars.svg");
  background-color: #070724;
  color: white;
}

h1 {
  @apply font-antonio text-[2.8rem];
}

/* .active {
  border-top: 2px solid #419ebb;
  padding-top: 27px;
} */

.tab-container {
  @apply flex flex-col justify-center items-center px-7 text-center md:text-left mt-[50px];
}

.tab-layout {
  @apply flex flex-col justify-center items-center lg:grid lg:grid-cols-2 lg:w-[80vw] mb-32;
}

.planet-image-container {
  @apply mb-[100px] lg:mx-auto lg:my-auto relative;
}

.planet-image {
  @apply w-[180px] h-[180px] md:w-[200px] md:h-[200px] lg:w-[260px] lg:h-[260px] object-contain;
}

.planet-desc {
  @apply md:flex lg:flex-col md:justify-between md:items-center lg:items-stretch md:w-[80vw] lg:w-[350px] lg:justify-self-end;
}

.surface-image {
  @apply absolute top-56 left-[45px] md:top-[150px] md:left-16 lg:top-[200px] lg:left-20 w-[90px] h-[90px] md:w-[120px] md:h-[120px] lg:w-[160px] lg:h-[160px] object-contain;
}

.active-mob {
  border-bottom: 2px solid #419ebb;
  padding-bottom: 15px;
  color: white;
}
